/*Asosiy stillar*/

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Black.eot');
    src: url('./Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-Black.woff2') format('woff2'),
        url('./Roboto/Roboto-Black.woff') format('woff'),
        url('./Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Bold.eot');
    src: url('./Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-Bold.woff2') format('woff2'),
        url('./Roboto/Roboto-Bold.woff') format('woff'),
        url('./Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-BlackItalic.eot');
    src: url('./Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('./Roboto/Roboto-BlackItalic.woff') format('woff'),
        url('./Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-BoldItalic.eot');
    src: url('./Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('./Roboto/Roboto-BoldItalic.woff') format('woff'),
        url('./Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Italic.eot');
    src: url('./Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-Italic.woff2') format('woff2'),
        url('./Roboto/Roboto-Italic.woff') format('woff'),
        url('./Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Light.eot');
    src: url('./Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-Light.woff2') format('woff2'),
        url('./Roboto/Roboto-Light.woff') format('woff'),
        url('./Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-LightItalic.eot');
    src: url('./Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('./Roboto/Roboto-LightItalic.woff') format('woff'),
        url('./Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Medium.eot');
    src: url('./Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-Medium.woff2') format('woff2'),
        url('./Roboto/Roboto-Medium.woff') format('woff'),
        url('./Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-MediumItalic.eot');
    src: url('./Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('./Roboto/Roboto-MediumItalic.woff') format('woff'),
        url('./Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Regular.eot');
    src: url('./Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-Regular.woff2') format('woff2'),
        url('./Roboto/Roboto-Regular.woff') format('woff'),
        url('./Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Thin.eot');
    src: url('./Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-Thin.woff2') format('woff2'),
        url('./Roboto/Roboto-Thin.woff') format('woff'),
        url('./Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-ThinItalic.eot');
    src: url('./Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('./Roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('./Roboto/Roboto-ThinItalic.woff') format('woff'),
        url('./Roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
/*Core styles*/
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    transition: all 0.3s ease-in-out;
}

button {
    font-family: inherit;
    transition: all 0.3s ease-in-out;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
.to-uppercase{
    text-transform: uppercase;
}
.clearfix{
    clear: both;
}
/*asosiy stillar*/

/*Asosiy qism*/

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 16px 0px rgb(0,0,0 / 10%);
    z-index: 10;
}

.main-header .container {
    display: flex;
    align-items: center;
}

.main-header__brand img{
    width: 64px;
}

.main-navigation__item{
    display: inline-block;
    padding: 0.625rem;
}

.main-navigation__item a{
    color: blue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500px;
}
.main-navigation__item a:hover{
    color: blueviolet;
}
.main-navigation__item:active a{
    color: #800000;
}
/*Asosiy qism*/

/*Footer section styles*/
.footer{
    padding: 50px 0;
    margin-top: 50px;
    background-color: #021017;
    text-align: center;
}
.footer__brand img {
    width: 128px;
}

.footer__navigation {
    margin-bottom: 50px;
}

.footer__navigation-item{
    display: inline-block;
    padding: 0 10px;
}

.footer__navigation-item a{
    color: white;
    text-decoration: none;
}

.footer__socials{
    list-style: none;
}

.footer__social {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #ffffff;
    border-radius: 36px;
    color: #05364d;
    font-size: 16px;
    margin-right: 12px;
}

.footer__social a {
    color: #021017;
}

.footer__social:hover {
    background: linear-gradient(90deg, #1345eb 0%, #ed239f 100%);
}

.footer__social:hover i {
    color: white;
}

.footer__p{
    color: white;
}

@media only screen and (max-width: 991px){
    .container {
        width: 90%;
    }
    /*Main navigation menu*/
    .main-navigation {
        display: none;
    }
    /*Footer*/
    .footer__navigation {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 96%;
    }
    
    /*Footer*/
    .footer__navigation {
        display: none;
    }
}